*{
margin:0
}

body{
    background: linear-gradient(rgb(45, 6, 49), #56216e 60%, #871aa8);
    margin: 0;
	height: 100vh;
    font-family: cursive;
}  

.titulo{
    color: white;
	height: 50px;
	display: flex;
    width: 100%;
    min-width: 450px;
    justify-content: space-between;
}

.titulo ul{
	display: table;
	margin: auto
}

.titulo ul li{
	display: inline;
}

.links{
    margin: 10px;
}

.titulo a {
    margin-left: 15px;
	color: white;
	font-family: Arial;
	font-size: 20px;
	font-weight: 650;
	text-decoration: none;
}

.titulo img{
    height: 100px;
    width: 268px;
}
